body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.mantine-Modal-root {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100vw;
  height: 100vh;
}