.loader-wrapper {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;

    .loading-list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.view-wrapper {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;

    .add-item-button {
        position: absolute;
        bottom: 16px;
        right: 16px;
        display: inline-block;
        width: 64px;
        height: 64px;
        z-index: 100;

        @media screen and (max-width: 48em) {
            width: 48px;
            height: 48px;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .items-area {
        flex-grow: 1;
        position: relative;

        .item-list-card {
            background-color: var(--mantine-color-default) !important;
            transition: background-color 0.1s;
            cursor: pointer;

            &:hover {
                background-color: var(--mantine-color-default-hover) !important;
            }

            .qt-control {
                height: calc(100% + 2px);
                &.increase {
                    margin-right: 2px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                &.decrease {
                    margin-left: -8px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            .item-quantity input {
                text-align: center !important;
                padding-left: 24px;
                width: 110px !important;
            }
        }
    }
}
