.app-root {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;

    .app-content {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: content-box;
        padding-top: 172px;
    }
    .list-nav {
        .list-container {
            flex-grow: 2;
            overflow-y: auto;
            .list-stack {
                height: fit-content;
            }
        }

        .add-list-action {
            min-height: 48px;
        }

        .logout-action {
            flex-grow: 1;
        }
    }
}
